## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.


#### * is an Arithmetic operator so it is an expression. 
#### 'hello' is string so it is a value.
#### The type of -87.8 is float, so it is a value.
#### - is an Arithmetic operator so it is an expression.
#### / is an Arithmetic operator so it is an expression.
#### + is an Arithmetic operator so it is an expression.
#### 6  is an integer so it is a value.

## 2. What is the difference between string and variable?

String is a data type which is basically consist of sequence of characters, that may be letter, number, punctuation, spaces etc. String is defined by putting single quotes '...' or double quotes "..." around which we want to define as string. We cannot perform math operation on string unless we convert it into integer or floating data type. Variable works as a temporary storage location, a variable is used to represent any value. String is a type of information we store in a Variable.

example: 

x="jayeeta"
##### Here x is variable and type of value it stores is in string.

## 3. Describe three different data types.

#### Numeric Data Type: 

Used to hold numeric values like,

Integer: positive or negative whole number, without decimal and of unlimited length like 3,-9 etc.

Float: floating point numbers such as 2.5,8.7 etc.and takes value upto 15 decimal points

Complex: complex numbers like 2+3j,43+7j etc.

#### String Data Type:
String is basically sequence of characters represented in quotation marks. We can use single quotation as well as double quotation. Example: 'hello', "New string", "670" etc.

#### Boolean Data Type:
Python data type bool is used to check if any expression is True or False.

In [6]:
m=78

In [7]:
type(m)

int

In [8]:
n=8.88

In [9]:
type(n)

float

In [10]:
x=True

In [11]:
type(x)

bool

In [12]:
y="jayeeta"

In [13]:
type(y)

str

In [14]:
c=43+7j 
type(c)

complex

## 4. What is an expression made up of? What do all expressions do?

An expression is a combination of values and operators. All expressions evaluate (that is, reduce) to a single value.Expressions are interpreted by the interpreter to create a new value. For example 4+3 is an expression where 4 and 3 are integers and + is a mathematical operator. After execution we got output 7 which is an integer.

In [15]:
4+3

7

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Statements represent an action or command e.g print statements, assignment statements. Expression is a combination of variables, operations and values that yields a result value. An expression is something that can be reduced to a value, for example "1+3" is an expression, but "foo = 1+3" is not.

In [16]:
print(pen = 1+3)

TypeError: 'pen' is an invalid keyword argument for print()

 As we are getting error & it doesn't work, so it's a statement, if it does, it's an expression. Basically an expression evaluates to a single value. A statement does not.

## 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [17]:
bacon=22

In [18]:
bacon+1

23

In [19]:
bacon

22

The bacon variable is set to 22. The bacon + 1 expression does not reassign the value in bacon. We need an assignment statement: bacon = bacon + 1 to reassign the value in bacon.

## 7. What should the values of the following two terms be?
##### &#39;spam&#39; + &#39;spamspam&#39;
##### &#39;spam&#39; * 3

Both expressions evaluate to the string 'spamspamspam'

In [20]:
'spam' + 'spamspam'

'spamspamspam'

In [21]:
'spam' * 3

'spamspamspam'

## 8. Why is eggs a valid variable name while 100 is invalid?

Variable names cannot begin with a number.

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

## 10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [22]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

The expression causes an error because 99 is an integer, and only strings can be concatenated to other strings with the + operator. The correct way is 'I have eaten ' + str(99) + ' burritos.'.

In [24]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'